# فقط لنشر Docker

BOT_TOKEN=your_bot_token # احصل عليه من @botfather
API_ID=your_api_id
API_HASH=your_api_hash
SESSION_STRING=your_session # راجع ملف str_gen.py لإنشاء جلسة
USERBOT_PREFIX=.
SUDO_USERS_ID=682966383 # المطورون لديهم صلاحية كاملة
LOG_GROUP_ID=-100123456789
GBAN_LOG_GROUP_ID=-100123456789
MESSAGE_DUMP_CHAT=-100123456789
WELCOME_DELAY_KICK_SEC=300
MONGO_URL=your_mongodb_url
ARQ_API_URL=https://arq.hamker.dev
ARQ_API_KEY=your_api_key # احصل عليه من @ARQRobot
LOG_MENTIONS=0
RSS_DELAY=300
PM_PERMIT=1
